@mixin baseStyles {
  display: inline-block;
  margin-left: 25px;
  margin-top: 10px;
  width: 20px;
  height: 20px;
}

.passwordInput {
  display: block;
  margin-top: 20px;
  margin-left: 25px;
  border: solid 2px gray;

  &:focus {
    outline: none;
  }
}

.empty {
  @include baseStyles;
  background-color: lightgray;
}

.strong {
  @include baseStyles;
  background-color: green;
}

.medium {
  @include baseStyles;
  background-color: orange;
}

.easy {
  @include baseStyles;
  background-color: red;
}
