<input
  type="text"
  placeholder="password"
  class="passwordInput"
  #myInput
  (input)="setValue(myInput.value)"
/>

<div
  [ngClass]="{
    empty: !value,
    easy: (value && !length) || easy,
    medium: medium && !strong,
    strong: strong
  }"
></div>
<div
  [ngClass]="{
    empty: !value || (length && easy),
    easy: value && !length && !strong,
    medium: medium && !strong,
    strong: strong
  }"
></div>
<div
  [ngClass]="{
    empty: !value || (length && (easy || medium)),
    easy: value && !length,
    strong: strong
  }"
></div>

<p *ngIf="strong">Password is strong</p>
<p *ngIf="!strong && length">You should insert more safety password</p>
<p *ngIf="!length">Password could't contains less then 8 chapters</p>
